<h1>管理者用管理画面</h1>

<% if params[:contact_page].present? %>
<details open>
<% else %>
<details>
<% end %>
	<summary>お問合せ一覧</summary>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<table class="table br20">
				<tr>
					<th class="col-xs-2">ユーザー</th>
					<th class="col-xs-3">内容</th>
					<th class="col-xs-2">ボタン</th>
				</tr>
				<% @contacts.each do |contact| %>
				<tr>
					<td><%= link_to contact.user.name, contact_path(contact.user.id) %></td>
					<td><%= link_to contact.title, contact_path(contact.id) %></td>
					<td><%= link_to "削除", contact_path(contact.id), method: :delete, class: "btn btn-danger" %>
				</tr>
				<% end %>
			</table>
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-8">
					<%= paginate @contacts, param_name: "contact_page" %>
				</div>
			</div>
		</div>
</details>

<% if params[:genre_page].present? %>
<details open class="br20">
<% else %>
<details class="br20">
<% end %>
	<summary>ジャンル一覧</summary>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<table class="table br20">
				<tr>
					<th class="col-xs-2">ジャンル名</th>
					<th class="col-xs-3">ジャンル登録者</th>
					<th class="col-xs-2"></th>
				</tr>
			<% @genres.each do |genre| %>
				<tr>
					<td><%= link_to genre.name, genre_path(genre.id) %></td>
					<td><%= link_to genre.user.name, user_path(genre.user.id) %></td>
					<td><%= link_to "ジャンル削除", user_path(genre.user.id), method: :delete, class: "btn btn-danger", data: { confirm: "本当に消しますか？" } %></td>
				</tr>
			<% end %>
			</table>
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-8">
					<%= paginate @genres, param_name: "genre_page" %>
				</div>
			</div>
		</div>
	</div>
</details>

<% if params[:article_page].present? %>
<details open class="br20">
<% else %>
<details class="br20">
<% end %>
	<summary>記事一覧</summary>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<table class="table br20">
				<tr>
					<th class="col-xs-2">記事名</th>
					<th class="col-xs-3">記事ジャンル</th>
					<th class="col-xs-2"></th>
				</tr>
				<% @articles.each do |article| %>
				<tr>
					<td><%= link_to article.title, article_path(article.id) %></td>
					<td><%= link_to article.genre.name, genre_path(article.genre.id) %></td>
					<td><%= link_to "記事削除", article_path(article.id), method: :delete, class: "btn btn-danger", data: { confirm: "本当に消しますか？" } %></td>
				</tr>
				<% end %>
			</table>
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-8">
					<%= paginate @articles, param_name: "article_page" %>
				</div>
			</div>
		</div>
	</div>
</details>

<% if params[:user_page].present? %>
<details open class="br20">
<% else %>
<details class="br20">
<% end %>
	<summary>新規ユーザー</summary>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<table class="table br20">
				<tr>
					<th class="col-xs-2">ユーザー名</th>
					<th class="col-xs-2"></th>
				</tr>
				<% @users.each do |user| %>
				<tr>
					<td><%= user.name %></td>
					<td><%= link_to "削除", user_registration_path, method: :delete, class: "btn btn-danger", data: { confirm: "本当に消しますか？" } %>
					</td>
				</tr>
				<% end %>
			</table>
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-8">
					<%= paginate @users, param_name: "user_page" %>
				</div>
			</div>
		</div>
</details>