<h2>ようこそインシンマーレへ！</h2>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-11">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row br50">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div class="row">
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="row br20">
        <%= f.label :password, "パスワード" %>
      </div>
      <div class="row">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="row br20">
        <%= f.submit "Log in", class: "btn btn-success"%>
      </div>
    <% end %>
  </div>
</div>
