<div class="row">
	<div class="col-xs-5">
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-10">
				<!-- ここにお気に入りやプロフィール等 -->
				<% if @user.present? %>
					<div class="row">
						<h3>
							この記事を書いた人のプロフィール
						</h3>
					</div>
					<div class="row br50">
						<div class="col-xs-1"></div>
						<div class="col-xs-11">
							<p><span class="font20"><%= @user.name %></span>　さん</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
						<% if @user.image_id.present? %>
							<%= image_tag "https://inshinmare.s3-ap-northeast-1.amazonaws.com/store/#{@user.image_id}", size: "100x100" %>
						<% else %>
							<%= image_tag "/images/no_img.png" %>
						<% end %>
						</div>
						<% if @user.introduction.present? %>
							<div class="col-xs-7 word_return">
								<%= @user.introduction %>
							</div>
						<% else %>
							<div class="col-xs-7">
							</div>
						<% end %>
					</div>
				<% else %>
					<div class="row header_line_height">
						<h3>
							匿名のユーザー投稿
						</h3>
						<p>
							<%= link_to "ユーザー登録", new_user_registration_path %>すれば投稿したときにプロフィールが掲載されます。
						</p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-xs-5">
		<div class="row">
			<h1><%= @article.title %></h1>
			<p><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><%=link_to @article.genre.name, genre_path(@article.genre.id) %></p>
		</div>
		<div class="row">
			<%= @article.explain %>
		</div>
		<div class="row img_area_200">
			<% if @article.image_id.present? %>
				<%= image_tag "https://inshinmare.s3-ap-northeast-1.amazonaws.com/store/#{article.image_id}" %>
			<% else %>
				<%= image_tag "/images/no_img.png" %>
			<% end %>
		</div>
		<!-- ここからコメント -->
		<% if @comments.present? %>
			<div class="row">
				<h3>コメント一覧(<%= @comments.count %>件)</h3>
			</div>
			<div class="row">
				<% @comments.each_with_index do |comment, cid| %>
				<div class="row comment_box br20">
					<div class="col-xs-2">
						<% if comment.image_id.present? %>
							<%= image_tag "https://inshinmare.s3-ap-northeast-1.amazonaws.com/store/#{comment.image_id}" %>
						<% else %>
							<%= image_tag "/images/no_img.png" %>
						<% end %>
					</div>
					<div class="col-xs-1">
						<p><b><%= cid + 1 %></b></p>
					</div>
					<div class="col-xs-6">
						<div class="row">
							<% if comment.name.present? %>
								<b><%= comment.name %></b>
							<% else %>
							<% end %>
						</div>
						<div class="row">
							<%= comment.explain %>
						</div>
					</div>
					<% if user_signed_in? %>
						<% if @article.user == current_user %>
							<div class="col-xs-2">
								<%= link_to "削除", comment_path, method: :delete, class: "btn btn-danger" %>
							</div>
						<% end %>
					<% end %>
				</div>
				<% end %>
			</div>
		<% else %>
			<div class="row">
				<h2>コメントなし</h2>
			</div>
		<% end %>
		<div class="row">
			<div class="row">
				<h3>新規コメントフォーム</h3>
			</div>
			<%= form_with model: @comment, url: { controller: "comments", action: "create"} do |f| %>
				<div class="row">
					<div class="col-xs-3">
						<%= f.label :name, "名前orタイトル" %>
					</div>
					<div class="col-xs-3">
						<%= f.text_field :name, default: "名無し" %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<%= f.label :image, "画像(あれば)" %>
					</div>
					<div class="col-xs-3">
						<%= f.attachment_field :image, class: "br20" %>
					</div>
				</div>
				<div class="row br20">
					<div class="col-xs-3">
						<%= f.label :explain, "コメント本文" %>
					</div>
					<div class="col-xs-3">
						<%= f.text_area :explain %>
					</div>
				</div>
				<div class="row br20">
					<% if user_signed_in? %>
						<%= f.hidden_field :user_id, :value => current_user.id %>
					<% end %>
					<%= f.hidden_field :article_id, :value => @article.id %>
					<%= f.submit "投稿", class: "btn btn-success" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
