<header>
  <div class="row">
    <div class="col-xs-3">
      <div class="title_img"></div>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-2 header_line_height">
          <p class="first_text_style">
            <%= link_to "　トップに戻る", root_path, class: "header_text_style" %>
          </p>
        </div>
        <div class="col-xs-2 header_line_height">
          <p class="first_text_style">
            <%= link_to "　新規登録", new_user_registration_path, class: "header_text_style" %>
          </p>
        </div>

        <div class="col-xs-2 header_line_height">
          <p class="first_text_style">
            <%= link_to "　ログイン", new_user_session_path, class: "header_text_style" %>
          </p>
        </div>

        <div class="col-xs-3 header_line_height">
          <p class="first_text_style">
            <%= link_to "　このサイトについて", about_top_path, class: "header_text_style" %>
          </p>
        </div>

        <div class="col-xs-2 header_line_height">
          <p class="first_text_style">
            <%= link_to "　新規記事投稿", new_article_path, class: "header_text_style" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>