<header>
  <div class="row">
    <div class="col-xs-3">
      <div class="title_img"></div>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-2 header_line_height">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <%= link_to "　トップに戻る", root_path %>
        </div>
        <div class="col-xs-2 header_line_height">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <%= link_to "　新規登録", new_user_registration_path %>
        </div>

        <div class="col-xs-2 header_line_height">
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
          <%= link_to "　ログイン", new_user_session_path %>
        </div>

        <div class="col-xs-3 header_line_height">
          <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
          <%= link_to "　このサイトについて", about_top_path %>
        </div>

        <div class="col-xs-2 header_line_height">
          <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
          <%= link_to "　新規記事投稿", new_article_path %>
        </div>
      </div>
    </div>
  </div>
</header>