<header class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <div class="title_img"></div>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-3">
        <% if user_signed_in? %>
          <% if @favarticle.user_id == current_user.id %>
            <%= link_to "★お気に入り中", favarticle_path(@favarticle.id), method: :delete, class: "btn btn-success" %>
          <% else %>
            <%= form_with model: @favarticle, url: { controller: "comments", action: "create"} do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :artilcle_id, :value => @article.id %>
            <%= f.submit "☆お気に入りに登録", class: "btn btn-success" %>
            <% end %>
          <% end %>
        <% end %>
        </div>

        <div class="col-xs-3">
          コンテンツ２
        </div>

        <div class="col-xs-3">
          <%= link_to "マイページ", user_path(current_user) %>
        </div>

        <div class="col-xs-3">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</header>