<header class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <p class="first_text_style color_white header_line_height">インシンマーレ</p>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-3 btn_header_position">
        <% if user_signed_in? %>
          <% if @favgenre.id.present? %>
            <%= link_to "★お気に入り中", favgenre_path(@favgenre.id), method: :delete, class: "btn btn-primary" %>
          <% else %>
            <%= form_with model: @favgenre, url: { controller: "favgenres", action: "create"} do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :genre_id, :value => @genre.id %>
            <%= f.submit "☆お気に入りに登録", class: "btn btn-info" %>
            <% end %>
          <% end %>
        <% end %>

        </div>

        <div class="col-xs-3 header_line_height">
          <p class="first_text_style">
            <%= link_to "トップに戻る", root_path, class: "header_text_style" %>
          </p>
        </div>

        <div class="col-xs-3 header_line_height">
          <p class="first_text_style">
            <%= link_to "マイページ", user_path(current_user), class: "header_text_style" %>
          </p>
        </div>

        <div class="col-xs-3 header_line_height">
          <p class="first_text_style">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_text_style" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>