<header class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <p class="first_text_style color_white header_line_height">インシンマーレ</p>
    </div>
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-3 header_line_height">
          <p class="first_text_style"><%= link_to "新規記事投稿", new_article_path, class: "header_text_style" %></p>
        </div>

        <div class="col-xs-3 header_line_height">
          <p class="first_text_style"><%= link_to "お知らせ", notices_path, class: "header_text_style" %></p>
        </div>

        <div class="col-xs-3 header_line_height">
          <p class="first_text_style"><%= link_to "トップページ", root_path, class: "header_text_style" %></p>
        </div>

        <div class="col-xs-3 header_line_height">
          <p class="first_text_style"><%= link_to "マイページ", user_path(current_user), class: "header_text_style" %></p>
        </div>

        <div class="col-xs-3 header_line_height">
          <p class="first_text_style"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_text_style" %></p>
        </div>
      </div>
    </div>
  </div>
</header>