<h1>Test linker</h1>
<ul>
	<li><%= link_to "ABOUT", about_top_path %></li>
	<li><%= link_to "GENRE_INDEX", genres_path %></li>
	<li><%= link_to "NEW_GENRE", new_genre_path %></li>
	<li><%= link_to "ARTICLE_INDEX", articles_path %></li>
	<li><%= link_to "NEW_ARTICLE", new_article_path %></li>
	<li><%= link_to "NOTICE_INDEX", notices_path %></li>
	<li><%= link_to "NEW_NOTICE", new_notice_path %></li>
	<li><%= link_to "USER_INDEX", users_path %></li>
	<li><%= link_to "TOP", users_top_path %></li>
	<li><%= link_to "USER_SIGN_IN", new_user_session_path %></li>
	<li><%= link_to "USER_SIGN_UP", new_user_registration_path %></li>
	<li><%= link_to "CONTACT_US", new_contact_u_path %></li>
</ul>