<div class="row user_info_image_place under_border">
	<div class="col-xs-1"></div>
	<div class="col-xs-11">
		<% if @user.image_id.present? %>
			<%= attachment_image_tag :image, :fill, 100, 100, format: "jpg", class: "image_radius" %>
		<% else %>

		<% end %>
	</div>
</div>
<div class="row under_border">
	<div class="col-xs-1"></div>
	<div class="col-xs-11">
		<h3><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><%= link_to "プロフィールの変更", edit_user_path(@user.id) %></h3>
	</div>
</div>
<div class="row under_border">
	<div class="col-xs-1"></div>
	<div class="col-xs-11">
		<h3><span class="glyphicon glyphicon-share" aria-hidden="true"></span><%= link_to " ログアウト", destroy_user_session_path, method: :delete %></h3>
	</div>
</div>
<div class="row br20">
	<div class="col-xs-1"></div>
	<div class="col-xs-11">
		<table class="table">
			<tr>
				<th class="col-xs-12">お気に入りジャンル</th>
			</tr>
			<tr>
				<% @favgenres.each do |fg| %>
					<td class="col-xs-12">
						<%= link_to fg.genre.name, genre_path(fg.genre.id) %>
					</td>
				<% end %>
			</tr>
		</table>
	</div>
</div>
<div class="row br20">
	<div class="col-xs-1"></div>
	<div class="col-xs-11">
		<table class="table">
			<tr>
				<th class="col-xs-12">お気に入り記事</th>
			</tr>
			<tr>
				<% @favarticles.each do |fa| %>
					<td class="col-xs-12">
						<%= link_to fa.article.title, article_path(fa.article.id) %>
					</td>
				<% end %>
			</tr>
		</table>
	</div>
</div>