<!DOCTYPE html>
<html>
  <head>
    <title>InshinMare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/header2' %>
    <% else %>
      <%= render 'shared/header1' %>
    <% end %>
    <main class="container">
      <%= yield %>
      <%= render 'shared/test_linker' %>
    </main>
    <footer>
      <div class="row">
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-2">
              リンク１
            </div>
            <div class="col-xs-2">
              リンク２
            </div>
            <div class="col-xs-2">
              リンク３
            </div>
            <div class="col-xs-2">
              リンク４
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          Daiki Nemoto ©
        </div>
      </div>
    </footer>
  </body>
</html>
