<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag '/images/favicon.ico' %>
    <title>InshinMare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body onload="brython()">
    <% if user_signed_in? %>
      <% if request.url[-4..-1] == "edit" %>
        <%= render 'shared/header2' %>
      <% elsif request.url&.include?("/articles/new") %>
        <%= render 'shared/header2' %>
      <% elsif request.url&.include?("/genres/new") %>
        <%= render 'shared/header2' %>
      <% elsif request.url&.include?("/articles/") %>
        <%= render 'shared/header_article' %>
      <% elsif request.url&.include?("/genres/") %>
        <%= render 'shared/header_genre' %>
      <% else %>
        <%= render 'shared/header2' %>
      <% end %>
    <% elsif admin_signed_in? %>
      <%= render 'shared/header_admin' %>
    <% else %>
      <%= render 'shared/header1' %>
    <% end %>
    <main class="container-fluid">
      <%= yield %>
    </main>
  </body>
</html>
